body {
  padding: 32px;
}

section {
  margin-bottom: 16px;
}

.frame {
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  box-shadow: 4px 4px 4px 1px #e6e6e6;
  width: 500px;
  position: relative;
}

.frame-blue-yellow {
  width: 700px;
}

.frame-blue-yellow-red {
  width: 800px;
}

.frame:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 5px 1px #bdbdbd;
  border: 10px solid #e2e7eb;
}

.grid {
  display: grid;
  grid-template: 1.5fr 3fr 1fr 0.2fr / 3fr 2fr;
  gap: 10px;
  background: #08070a;
  height: calc(100vh - 100px);
}

.grid-blue-yellow {
  grid-template: 3.5fr 1.5fr 1fr 0.3fr / 2fr 2fr 1fr;
}

.grid-blue-yellow-red {
  grid-template: 1.2fr 2.5fr 0.4fr / 0.5fr 0.5fr 1.2fr 1.1fr;
  gap: 20px;
}

.yellow {
  background: #f3e21e;
}
.red {
  background: #d63c27;
}
.blue {
  background: #0647a0;
}
.white {
  background: #ececeb;
}

.row-spanner {
  grid-column-end: span 2;
}

.spanner {
  grid-row-end: span 2;
}

.spanner-3 {
  grid-row-end: span 3;
}

.order-1 {
  order: 1;
}
